@charset "utf-8";

/* モバイルデバイス */
@media screen and (max-width:480px) {
    html{
        font-family: "Meiryo","Arial","MS Pゴシック",sans-serif;
    }
	nav.nav{
		width: 100%;
		margin: 0 auto;

	}
	nav.nav ul.item {
		flex-wrap: wrap;
		padding-left: 18%;
	}
	nav.nav ul.item li.list{
		width: 33%;
	}
	nav.nav ul.item li.list a {
		font-size: 1rem;
	}

	#slider img{
		width: 75%;
	}
	
	#about,#skill,#portfolio,#pohoto,#illustration,#pc,#contact{
		display: flex;
		justify-content: space-between;
	}

	#skill main{
		width: 100%;
	}

	#skill section{
		justify-content: center;
		margin-left: auto;
		margin-right: auto
	}

    .gallery {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
	#portfolio .menu ul {
		display: block;
	}

	#portfolio .menu ul li img{
		width: 150%;
		height: auto;
	}

	#contact .nav{
		display: flex;
		flex-wrap: nowrap;
	}
	#photo .photo .gallery {
		display: grid;
  		width: fit-content;
  		margin-left: -4%;
  		grid-template-columns: repeat(2, auto);
	
	}
	
	#photo .gallery .landscape {
		width: 100%;
		box-sizing: border-box;
	}

	#illustration .illust .topics {
		display: grid;
  		width: fit-content;
  		margin-left: -4%;
  		grid-template-columns: repeat(2, auto);
	}
	#illustration .illust .topics .pic {
		width: 100%;
		box-sizing: border-box;
	}
	#illustration .illust .topics .pic img{
		width: 200%;
	}
	#pc .flex {
		display: block;
		flex-wrap: nowrap;
		margin-left: -10%;
	}
	#pc .contents .menu {
		width: 	100%;
		padding: 20px 20px 50px;
		box-sizing: border-box;
	}
}
