@charset "utf-8";

/* 基本レイアウトここから */
body{
    width: 100%
}
main {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#home {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-family: 'arial', 'Hiragino Sans', 'Meiryo', sans-serif;
    color: #333333;

}


div.logo {
    width: 100%;
    height: 150px;
    margin: 0 auto ;
}

div.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

nav.nav ul.item {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav.nav ul.item li.list a {
    font-weight: bold;
    font-size: 1rem;
}

a {
    font-weight: bold;
}

#list a {
    color: #fe5e5e;
    border-bottom: 2px solid #fe5e5e;
}
.wrapper{
    padding: 0 10%;
}
/* メニュー装飾ここから */
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #3584bb;
    transition: all 0.5s;
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(454eg);
    position: absolute;
    right: 11px;
    top: 16px;
}

#menu-btn-check:checked~.menu-content {
    left: 0;
}

/* メニュー装飾ここまで */

/* キービジュアル */
.fv-container {
    width: 100%;
    height: 80vh;
    background: url(../images/top_img01.jpg)no-repeat;
    background-size: cover;
    padding: 1em;
}

div ul li {
    list-style-type: none;
}

nav ul {
    margin: 0;
    padding: 20px;
}

nav li {
    list-style-type: none;
    display: inline-block;
    height: 0;
    width: 10%;
    min-width: 90px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 50px;
}

nav li:not(:last-child) {
    border-right: 2px solid #ddd;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a.current {
    color: #00B0F0;
    border-bottom: 2px solid #00B0F0;
}

nav a:hover {
    color: #add8e6;
    border-bottom: 2px solid #add8e6;
}

image {
    margin-right: calc(50%-50vw);
    margin-left: calc(50%-50vw);
}

.image img {
    display: block;
    width: 100%;
    height: auto;
    padding: 30px 0 100px 0;
}

footer {
    position: fixed;
    color: #fff;
    background-color: #add8e6;
    text-align: center;
    padding: 15px 0;
    bottom: 0;
    width: 100%;
}

/* 基本レイアウトここまで ↑*/

/* ABOUTここから↓ */
#about .image_icon img {
    display: block;
    margin: auto;
    padding: 100px 0 0 0;
    width: 200px;
    height: auto;
}

#about .about1 img {
    display: block;
    margin: 0 auto;
    max-width: 350px;
    height: auto;
}

#about .about1 ul {
    color: #202f55;
    font-size: 1em;
    max-width:  600px;
    margin: 50px auto;
}
#about .about2 ul{
    color: #202f55;
    font-size: 1em;
    max-width:  600px;
    margin: 50px auto;
}
#about hr {
    font-weight: bold;
    border: 1px dashed #fe5e5e;
    max-width: 400px;
    margin: 0 auto;
}
#about .about2{
    height: 500px;
}





/* ABOUTここまで↑ */

/* SKILLここから↓ */
/* 経歴 */
#skill section h1 {
    color: #202f55;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 80px 0 80px 0;
}

#skill section p {
    font-size: 20px;
    color: #333;
}

#skill .timeline {
    width: 96%;
    max-width: 940px;
    margin: 28px auto;
    padding: 0 0 0 30px;
}

#skill .timeline .list {
    padding-left: 4rem;
    padding-bottom: 2rem;
    counter-increment: section;
    position: relative;
}

#skill .timeline .list:last-child {
    padding-bottom: 0.5rem;
}

#skill .timeline .list::before {
    content: "";
    width: 5px;
    height: 100%;
    background-color: #d3d4d7;
    position: absolute;
    top: 20px;
    left: 20px;
}

#skill .timeline .list:last-child::before {
    content: "";
    width: 0;
    height: 0;
    background-color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
}

#skill .timeline .list::after {
    font-size: 0.7rem;
    font-weight: bold;
    background-color: #005c83;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    width: 80px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: -0.8rem;
}

#skill .timeline01 .list:nth-child(1)::after {
    content: "2018年3月";
}

#skill .timeline01 .list:nth-child(2)::after {
    content: "2018年4月　　2023年3月";
}

#skill .timeline01 .list:nth-child(3)::after {
    content: "2022年4月　　2023年3月";
}

#skill .timeline01 .list:nth-child(4)::after {
    content: "2023年8月";
}

/* 資格 */

#skill .timeline .title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}

#skill .timeline02 .list:nth-child(1)::after {
    content: "2014年11月";
}

#skill .timeline02 .list:nth-child(2)::after {
    content: "2023年8月";
}

#skill .timeline02 .list:nth-child(3)::after {
    content: "2023年10月";
}

#skill .timeline02 .list:nth-child(4)::after {
    content: "2023年10月";
}

#skill .timeline02 .list:nth-child(5)::after {
    content: "2023年12月";
}

#skill .timeline02 .list:nth-child(6)::after {
    content: "2023年12月";
}

#skill .timeline02 .list:nth-child(7)::after {
    content: "2024年1月";
}

#skill .skill {
    width: 96%;
    max-width: 940px;
    margin: 28px auto;
    padding: 0 0 100px 30px;
}

#skill .skill h2 {
    font-weight: bold;
    padding-left: 1rem;
    border-left: 6px solid #005c83;
    color: #410707;
    margin-bottom: 30px;
}

#skill .skill p {
    color: #410707;
    margin-bottom: 30px;
}

/* SKILLここまで↑ */

/* PORTFORIOここから↓ */
#portfolio .menu {
    padding: 10% 20%;
}

#portfolio .menu ul {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    text-align: center;
}

#portfolio .menu ul li {
    height: auto;
    padding: 30px 10px 0 0;
    margin: 0 10px 0 0;
    border: none;
}

#portfolio .menu ul li img {
    width: 100%;
}

#portfolio .menu ul li a img:hover {
    transform: scale(1.2, 1.2);
}


/* PORTFORIOここまで↑ */

/* photo作品ここから↓ */

#photo .photo .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#photo .gallery .landscape {
    width: calc(100%/4);
    padding: 40px 20px 30px;
    box-sizing: border-box;
}

#photo .gallery .landscape img {
    max-width: 100%;
    height: auto;
    list-style: none;
    height: auto;
    margin: 0 0 15px 0;
}

#photo footer {
    margin: 30px 0 0 0;
}

/* photo作品ここまで↑ */

/* illusut作品ここから↓ */

#illustration .illust .topics {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 100px;
}

#illustration .illust .topics .pic {
    width: calc(100%/3);
    padding: 80px 5px 5px;
    box-sizing: border-box;
}

#illustration .illust .topics .pic p {
    padding-left: 1rem;
    border-left: 6px solid #fe5e5e;
    color: #410707;
    padding: 0 5px 5px;
}

#illustration .illust .topics .pic img {
    width: 70%;
    padding: 0;
    margin: auto;
}

#illustration .url {
    text-align: left;
}

#illustration .url .label {
    width: 70vw;
    height: auto;
    margin: 0 auto 100px;
}

#illustration .url .label p {
    padding-left: 1rem;
    border-left: 6px solid #fe5e5e;
    color: #410707;
    padding: 0 5px 5px;
}

#illustration .url .label li img {
    /* width: 70vw;
    height: 50vh; */
    object-fit: cover;
    padding: 0 0 50px;
}

/* illusut作品ここまで↑ */

/* IL/Ps作品ここから↓ */
#pc .flex {
    display: flex;
    flex-wrap: wrap;
}

#pc .contents .menu {
    width: calc(100%/3);
    padding: 20px 20px 50px;
    box-sizing: border-box;
}

#pc .contents .menu p {
    padding-left: 1rem;
    border-left: 6px solid #fe5e5e;
    color: #410707;
    padding: 0 5px 5px;
}

#pc .contents .menu img {
    max-width: 100%;
    height: auto;
    list-style: none;
    height: auto;
}

/* IL/Ps作品ここまで↓ */

/* CONTACTここから↓ */
form {
    max-width: 600px;
    margin: 100px auto;
}

form p {
    margin-top: 30px;
}

input[type="text"],
input[type="email"],
textarea {
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    margin-top: 10px;
    padding: 4px 8px;
}

input[type="submit"] {
    margin-top: 5px;
    background-color: #add8e6;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid #bbb;
}

.sns p {
    font-weight: bold;
    text-align: center;
    padding: 0 0 30px 0;
}

.icon {
    text-align: center;
    margin: 0 0 50px;
}

.icon li {
    display: inline;
}

.icon li img {
    width: 40px;
    padding: 0 0 10px;
}

.icon .icon_mail img {
    width: 20px;
    padding: 10px 0 0 0;
}

/* CONTACTここまで↑ */
